body{
    width: 800px;
    margin: auto;
}
h1 {
    margin: 0px;
    padding: 30px;
    background-color:#b890ae;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
h5 {
    font-size:110%;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#41263a;
}
table, th, td {
    border: 2px solid  #68385c ;
    text-align: center;
    border-collapse: collapse;
}
tr:not(:first-child):hover{
    background-color: #e6d2e1;
}

.vacancy {
    margin: 0px;
    background-color:#f8f6f6;

}
.vacancy div{
    display:inline-block;
}
.details{
        margin: 20px 50px 0px 50px;
    background-color: white;
}
.interviewdate {
    margin: 0px;
}
.back{
    background-color: white;
      
}
div > img {
    margin: 0px 20px 0px 20px;
}
#name {
    font-size:150%;
    text-shadow:5px 4px 6px #a5919d;
}
a:link{
    text-decoration: unset;
    cursor: pointer;
    
}
a:visited{
    color: brown;
    cursor: pointer;
}
a:hover{
    color: purple;
    font-size:110%;  
    cursor: pointer;

}
input[type=text],[type=number],[type=date] {
    border: 1px solid #b890ae;
    border-radius: 4px;
    cursor: pointer;
}
input[type=text]:focus,[type=number]:focus,[type=date]:focus{
    background-color: #e6d2e1;
    outline: none;
}
select{
    border: 1px solid #b890ae;
    border-radius: 4px;
    cursor: pointer;
}
select:focus{
    background-color: #e6d2e1;
    outline: none;
}
input[type=submit]{
    background-color: #662b56;
    background-image: linear-gradient(to right, #e6d2e1,#662b56);
    color: white;
    border: 1px solid #b890ae;
    border-radius: 4px;
    cursor: pointer;
    

}
.shadow{
    display: inline;
    box-shadow:5px 5px 3px grey;
}
input[type=submit]:focus{
    outline: none;
}
.cr1::after {
    content: '\f086';
    font-family:'Font Awesome 5 Free';
    margin-right: 10px;
    color: #945711
    
    
}
.cr2::after {
    content: '\f3d1';
    font-family:'Font Awesome 5 Free';
    margin-left: 4px;
    margin-right: 10px;
    color: #3e795b
    
}
.cr3::after {
    content: '\f0eb';
    font-family:'Font Awesome 5 Free';
    margin-left: 4px;
    margin-right: 10px;
    color: #e7e425
    
    
}
.cr4::after {
    content: '\f582';
    font-family:'Font Awesome 5 Free';
    margin-left: 4px;
    margin-right: 10px;
    color: #5a3c53
    
    
}
label:hover{
    background-color: #e6d2e1;
    cursor: pointer;

}
[type=radio]:hover, [type=checkbox]:hover{
    background-color: #e6d2e1;
    cursor: pointer;

}
ul{
    list-style: circle;
}

