h1 {
    margin: 0px;
    padding: 30px;
    background-color:#b890ae;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
p {
    font-size:110%;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#41263a;
}
table, th, td {
    border: 2px solid  #68385c ;
    text-align: center;
    border-collapse: collapse;
}
 
.vacancy {
    margin: 0px;
    background-color:#f8f6f6;
}
.details{
    margin: 20px 50px 0px 50px;
    background-color: white;
}
#interviewdate {
    margin: 0px;
}
.back{
    background-color: white;
}
div > img {
    margin: 0px 20px 0px 20px;
}
#name {
    font-size:150%;
    text-shadow: #464144;
}
a:link{
    text-decoration: unset;
    
}
a:visited{
    color: brown;
}
a:hover{
    color: purple;
    font-size:110%;  

}
input[type=text],[type=number],[type=date] {
    border: 1px solid #b890ae;
    border-radius: 4px;
}
input[type=text]:focus,[type=number]:focus,[type=date]:focus{
    background-color: #e6d2e1;
}
select{
    border: 1px solid #b890ae;
    border-radius: 4px;
}
select:focus{
    background-color: #e6d2e1;
}
input[type=submit]{
    background-color: #662b56;
    color: white;

}
.cr1::after {
    content: '\f086';
    font-family:'Font Awesome 5 Free';
    margin-left: 4px;
    margin-right: 10px;
    color: #945711
    
    
}
.cr2::after {
    content: '\f3d1';
    font-family:'Font Awesome 5 Free';
    margin-left: 4px;
    margin-right: 10px;
    color: #3e795b
    
}
.cr3::after {
    content: '\f0eb';
    font-family:'Font Awesome 5 Free';
    margin-left: 4px;
    margin-right: 10px;
    color: #e7e425
    
    
}
.cr4::after {
    content: '\f582';
    font-family:'Font Awesome 5 Free';
    margin-left: 4px;
    margin-right: 10px;
    color: #5a3c53
    
    
}
label:hover{
    background-color: #e6d2e1;

}
[type=radio]:hover{
    background-color: #e6d2e1;

}
ul{
    list-style: circle;
}

